<article class="listing">
  <h3>{{this.post.title}}</h3>
  <div class="detail owner">
    <span>Owner:</span> {{this.post.userId}}
  </div>
  <div class="detail bedrooms">
    <span>Text:</span> {{this.post.body}}
  </div>
</article>