<article class="listing">
  <a onclick={{action "show"}}>
    <h2>{{this.post.title}}</h2>
  </a>

  {{#if showBody}}
  <div class="full post">
    <h3>
      Author: {{ this.user.name }}
    </h3>
    <p>{{this.post.body}}</p>
  </div>
  {{/if}}
</article>