{{yield paginatedItems}}

{{!-- {{#if showPrev}}
<button {{action "prevPage"}}>Previous</button>
{{/if}} --}}

{{#if showNext}}
<button class="more" {{action "nextPage"}}>
  more<div class="arrow-down"></div>
</button>
{{/if}}