@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Raleway:200|Literata:400,600|Nunito+Sans:300|Nunito:600&display=swap');

$xs: 320px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

@mixin respond-to($size) {
  @if $size == xs-screen {
    @media only screen and (min-width: $xs) {
      @content;
    }
  }
  @if $size == sm-screen {
    @media only screen and (min-width: $sm) {
      @content;
    }
  }
  @if $size == md-screen {
    @media only screen and (min-width: $md) {
      @content;
    }
  }
  @if $size == lg-screen {
    @media only screen and (min-width: $lg) {
      @content;
    }
  }
  @if $size == xl-screen {
    @media only screen and (min-width: $xl) {
      @content;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1em);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes growIn {
  0% {
    max-height: 0;
  }
  25% {
    max-height: 0;
  }
  100% {
    max-height: 1000px;
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(100vh);
  }
  20% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

::selection {
  background-color: #e94e77;
  color: #fff;
}

a {
  cursor: pointer;
}

h1 {
  font-size: 2em;
  max-width: 10em;
  span {
    text-transform: uppercase;
  }
}

p {
  font-size: 1.15em;
  @include respond-to(md-screen) {
    font-size: 1.35em;
  }
  line-height: 1.5em;
  font-family: 'Literata', serif;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: #424242;
  background: #25262b;
}

.container {
  // animation: fadeIn 0.5s ease-in;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include respond-to(sm-screen) {
    padding: 0 3em;
  }

  @include respond-to(md-screen) {
    flex-wrap: no-wrap;
    justify-content: flex-end;
  }

  @include respond-to(lg-screen) {
    &::after {
      content: '';
      display: block;
      position: fixed;
      z-index: 2;
      width: 100%;
      min-height: 11.8em;
      height: 13%;
      left: 0;
      bottom: 0;
      background: #fff;
    }
  }

  position: relative;
  z-index: 1;
  max-width: 1280px;
  margin: 0 auto;
}

.info {
  animation: fadeIn 2s ease-in;
  min-width: 40%;
  position: relative;
  z-index: 3;
  color: #f2ede3;
  font-family: 'Raleway', serif;
  .title {
    font-family: 'Literata', serif;
    font-size: 5em;
    @include respond-to(xs-screen) {
      font-size: 8em;
    }
    span,
    span::selection {
      color: #25262b;
    }
  }
  .gh-link {
    svg {
      width: 1.25em;
      height: 1.25em;
      fill: #f2ede3;
      position: relative;
      display: none;
      // yes, I'm picky
      top: 0.15em;
      right: 2.2em;
      @include respond-to(xs-screen) {
        display: initial;
      }
    }
  }
  h1 {
    font-size: 1em;
    width: 5em;
    margin: 0.2em 0 0 0.5em;
    letter-spacing: 0.75ch;
    line-height: 1.85em;
  }
  .wrapper {
    @include respond-to(lg-screen) {
      position: fixed;
      top: 28%;
    }
  }
}

.posts {
  animation: scrollUp 0.8s ease-in;
  width: 100%;
  @include respond-to(md-screen) {
    width: 90%;
  }
  @include respond-to(lg-screen) {
    width: 60%;
  }
  position: relative;
  z-index: 3;
}

.post {
  background: #fefff8;
  padding: 2em 1em;
  margin: 1em 0;
  overflow: hidden;

  @include respond-to(sm-screen) {
    padding: 3em 2em;
    border-radius: 0.15em;
  }
  @include respond-to(md-screen) {
    margin: 0.5em 0;
  }

  &.extended {
    background: #fff;
  }

  &:hover {
    background: #fff;
  }

  img {
    width: 100vw;
    margin-left: -1em;
    @include respond-to(sm-screen) {
      margin-left: -2em;
    }
    @include respond-to(md-screen) {
      margin: 0;
      width: 100%;
    }
  }

  h2 {
    font-size: 1.5em;
    @include respond-to(md-screen) {
      font-size: 2.5em;
    }
    margin: 0;
    text-transform: capitalize;
  }

  .preview {
    margin-top: 1.25em;
    font-size: 0.9em;
    animation: fadeIn 0.35s ease-in;
  }

  .content {
    animation: growIn 0.25s ease-in;
  }

  .author {
    color: #c8c8c8;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 1.5em auto 2.5em;
    letter-spacing: 0.25ch;
  }

  .bio {
    display: flex;
    border-top: 1px solid #c8c8c8;
    padding-top: 2em;
    margin: 2em auto 0 auto;
    justify-content: center;
    width: 100%;
    @include respond-to(md-screen) {
      padding-top: 3em;
      margin-top: 3em;
      width: 65%;
    }
    img {
      width: 75px;
      height: 75px;
      border-radius: 50px;
      background: #c6e5d9;
    }
    div {
      margin-left: 1em;
    }
    .name,
    .handle,
    .quote {
      display: block;
      margin: 0.25em;
      color: #c6a49a;
      margin-left: 0;
    }
    .name {
      font-size: 1.3em;
      margin-bottom: 0.2em;
      color: #e94e77;
    }
    .handle {
      font-size: 1em;
    }
    .quote {
      font-size: 0.8em;
    }
  }

  .close {
    text-align: center;
    margin-top: 4em;
    a {
      display: inline-block;
      margin: 0 auto;
      height: 2em;
      width: 2em;
      border: 1px solid #c8c8c8;
      border-radius: 1em;
      line-height: 2em;
      font-size: 1em;
      color: #c8c8c8;

      &:hover {
        transition: 0.2s;
        background: #e94e77;
        border-color: #e94e77;
        color: #fff;
      }
    }
  }
}

.more {
  width: 50%;
  padding: 2em;
  border: 0;
  color: #fff;
  fill: #fff;
  background: none;
  @include respond-to(lg-screen) {
    color: #424242;
    fill: #424242;
  }
  cursor: pointer;
  font-family: Literata;
  margin: 0 auto;
  display: block;

  &:hover {
    .arrow-down svg {
      animation: bounce 0.8s cubic-bezier(0.76, 0, 1, 0.08) 0s infinite
        alternate both;
    }
  }

  .arrow-down svg {
    display: block;
    margin: 0.5em auto 0;
    width: 30px;
    height: 30px;
  }
}
