@import 'normalize';
a {
  cursor: pointer;
}

h2 {
  font-size: 3em;
}

.container {
  display: flex;
  justify-content: flex-end;
  padding: 0 3em;
}

.info {
  min-width: 30%;
  position: relative;
  .wrapper {
    position: fixed;
    top: 30%;
  }
}

.posts {
  width: 60%;
}
